*
body
	{
		margin:0%;
		padding:0%;
}

.header
	{
		display: flex;
		background-color: #f0b3fa;
		width: 100%;
		height: 70px;
		padding:10px;
		position:fixed;
	}
.hLogo img
	{
		width:50px; 
		height:50px; 
	}
.input input
	{
		width:170px; 
		height:50px; 
		margin-left:170px;
	}
.hprofi img
	{
		margin-left:800px;
		margin-left:800px;
		width:50px; 
		height:50px;  
		padding-right:10px;
		padding-left:10px;
		border-radius:50%;
	}
.hprofi sele
	{
		margin-left:800px;
		margin-left:800px;
		width:50px; 
		height:50px;  
		padding-right:10px;
		padding-left:10px;
		border-radius:50%;
	}

.conteneur
	{
		display:flex;
		flex-direction: row;	
	}

.conteneur-baz
	{
		display:flex;
		flex-direction:column;
		margin:129px 10px 10px;
		padding-bottom:40px;
		height:700px;		
	}

.bleft
	{
		background-color: #e8e2eb;
		width: 10%;
		padding-left:5%;
		padding-top:5%;
		padding-right:5%;
		
	}

.bMoL
	{
		background-color: white;
		width: 28%;
	}

.bMoR
	{ 
		background-color: white;
		width: 28%;
		
	}
	

.bright
	{ 
	    display:flex;
        flex-direction: colomn;
		background-color: #e8e2eb;
		width: 28%;
	}

.conteneru
	{ 
	 height: 10px;
	}
.image
	{ 
	display:flex;
	flex-flow: row wrap;
	height: 400px;
	padding-bottom:15px;
	}			
.text
	{ 
	display:flex;
	flex-direction: row;
	height: 100px;
	}
.text div img
	{
		width:50px; 
		height:50px;  
		padding-right:10px;
		padding-left:10px;
		border-radius:50%;
	}
.comment
	{ 
	padding:15px;
	height: 10px;
	}	
	
	
	/*
	--------------------------            login   ------------------
	*/
.conter
	{
		display: flex;
		flex-direction:row;
	}
.leftLog
	{
	margin-left:70px;
	height: 10px;
	}
.section
	{
	padding-top:270px;
	margin-left:160px;
	height: 100px;
	}
.section input
	{
	margin-top: 20px;
    width:250px;
	height: 60px;
	}